Dockerfile
.dockerignore
.DS_Store
node_modules
.next
out
build
coverage
*.tsbuildinfo
.git
.npm
.pnpm-store
.pnpm
.bun
npm-debug.log
yarn-error.log
pnpm-debug.log
bun-debug.log
*.log
.vercel
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
LICENSE
.github
